@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&family=Roboto:wght@100;400;900&display=swap');

/** {
	outline: 1px dashed red;
}*/

:root {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
	display: block;
}
main {
	display: block;
}
footer {
	padding: 1em;

	text-align: center;
}

.nav-list {
	display: flex;
	justify-content: center;
	gap: 1em;

	padding-left: 0;

	list-style: none;
}

.nav-link {
	padding: 1em;

	color: black;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
}

